.cover {
    .book-card__cover {
        cursor: pointer;
        height: 100px;
        aspect-ratio: 2/3;
        
        position: relative;
        perspective: 1000px;
        
        .book-card__book {
            height: 100%;
    
            transform-style: preserve-3d;
            transition: all 250ms ease;
    
            .book-card__book-front {
                height: 100%;
                width: 100%;
    
                position: absolute;
    
                .book-card__img {
                    background-color: #e1e1e1;
    
                    height: 100%;
                    width: 100%;
    
                    object-fit: cover;
                    object-position: center;
                }
              }
        }
    }
}

@media (width >= 480px) {
    .cover {
        .book-card__cover {
            height: 150px;
        }
    }
}