<main>
    <h2>Actualiza uno o más datos</h2>
    <div class="photo-selection">
        <img class="selected-photo" [src]="selectedPhoto || '../../../assets/images/profile.webp'" alt="" (click)="openPhotoSelection()">
        <div class="character-selection" *ngIf="photoSelectionOpen">
            <h4>Selecciona un personaje:</h4>
            <div class="characters">
                <div *ngFor="let photo of profilePhotos" class="character">
                    <img class="photo" [src]="photo.url" [class.selected]="selectedPhoto === photo.url"/>
                    <div class="name" (click)="selectProfilePhoto(photo.url)">{{ photo.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div class="form-field">
            <input type="text" formControlName="name" placeholder="Nombre">
            <ng-container *ngIf="validEdit('name')">
                <p class="error">{{ errorMessage('name') }}</p>
            </ng-container>
        </div>
        <div class="form-field">
            <input type="text" formControlName="lastname" placeholder="Apellidos">
            <ng-container *ngIf="validEdit('lastname')">
                <p class="error">{{ errorMessage('lastname') }}</p>
            </ng-container>
        </div>
        <button type="submit">Actualizar</button>
    </form>

    <form class="pwd" [formGroup]="pwdForm" (ngSubmit)="changePassword()">
        <h4>Cambiar contraseña</h4>
        <div class="form-field">
            <input type="password" formControlName="password" placeholder="Contraseña">
            <ng-container *ngIf="validPassword('password')">
                <p class="error">{{ errorMessage('password') }}</p>
            </ng-container>
        </div>
        <div class="form-field">
            <input type="password" formControlName="passwordRep" placeholder="Repite la contraseña">
            <ng-container *ngIf="validPassword('passwordRep')">
                <p class="error">{{ errorMessage('passwordRep') }}</p>
            </ng-container>
        </div>
        <button type="submit">Cambiar</button>
    </form>
</main>
