@import '../../../mixins';

main {
    padding: 5%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .searchbar-container {
        form {
            @include searchBar();
        }
    }

    .users {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        justify-items: center;
        gap: 15px;
    }
}

@media (width >= 480px) {
    main {
        padding: 5% 10%;
        margin-top: 90px;

        .users {
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
            gap: 30px;
        }
    }
}