@import '../../../variables';

main.user-logged-in {
    padding: 5% 20%;
    margin-top: 90px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .user {
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                width: 100px;
            }
        }

        .follows {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .following-container, .followers-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 a {
                    color: $main;
                    font-weight: 400;
                    font-size: smaller;
                }

                .followers, .following {
                    display: flex;
                    gap: 15px;
                    
                    .user-follow {
                        cursor: pointer;
    
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }

        .reviews {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .review {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .reading {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .reading-book {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}

main.user-not-logged-in {
    padding: 5% 10%;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}