<main [ngClass]="{'user-logged-in': userLoggedIn, 'user-not-logged-in': !userLoggedIn}">
    <ng-container class="profile" *ngIf="userLoggedIn; else loginForm">
        <section class="info">
            <div class="user">
                <a *ngIf="authId === userId" routerLink="/editUser" title="Editar perfil"><fa-icon [icon]="faEdit"></fa-icon></a>
                <button *ngIf="authId !== userId" (click)="followUser(userId)">{{ followsignal() ? 'Siguiendo' : 'Seguir' }}</button>
                <img [src]="photo || '../../../assets/images/profile.webp'" alt="">
                <h2>{{ fullName }}</h2>
                <p>{{ email }}</p>
            </div>
            <div class="follows">
                <app-user-follows [following]="following" [followers]="followers" [userId]="userId"></app-user-follows>
            </div>
            <div class="reviews">
                <h3>Reseñas y valoraciones</h3>
                <ng-container *ngIf="reviews.length > 0; else messageReviews">
                    <div class="review" *ngFor="let review of getDisplayedReviews()">
                        <p class="title">{{ review.bookTitle }}</p>
                        <app-rating [rating]="review.rating"></app-rating>
                        <p>{{ review.comment }}</p>
                    </div>
                    <button class="see-more" (click)="toggleShowAllReviews()">
                        {{ showAllReviews ? 'Ver menos' : 'Ver más' }}
                    </button>
                </ng-container>
                <ng-template #messageReviews>
                    <p>No hay reseñas y valoraciones</p>
                </ng-template>
            </div>
        </section>
        <section class="reading">
            <h3>Leyendo ahora:</h3>
            <ng-container *ngIf="readingBooks.length > 0; else messageReading">
                <div class="reading-book" *ngFor="let book of readingBooks">
                    <app-sm-cover [book]="book"></app-sm-cover>
                    <div class="book-info">
                        <h4>{{ book.title }}</h4>
                        <p>{{ book.authors }}</p>
                    </div>
                </div>
            </ng-container>
            <ng-template #messageReading>
                <p>No hay libros leyéndose</p>
            </ng-template>
        </section>
    </ng-container>
    <ng-template #loginForm>
        <app-login-link></app-login-link>
    </ng-template>
</main>