@import '../../../variables';

main.user-logged-in {
    padding: 5% 20%;
    margin-top: 90px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .user {
            display: flex;
            flex-direction: column;
            gap: 20px;

            position: relative;

            a {
                color: $main;
                position: absolute;
                left: 120px;

                transition: color 0.2s;

                &:hover {
                    color: $main-dark;
                }
            }

            img {
                border-radius: 50%;
                width: 120px;

                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .follows {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .following-container, .followers-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 a {
                    color: $main;
                    font-weight: 400;
                    font-size: smaller;

                    transition: color 0.2s;

                    &:hover {
                        color: $main-dark;
                    }
                }

                .followers, .following {
                    display: flex;
                    gap: 15px;
                    
                    .user-follow {
                        cursor: pointer;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;
    
                        img {
                            border-radius: 50%;
                            width: 40px;

                            transition: all 0.2s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        .reviews {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .review {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .title {
                    font-weight: 600;
                }
            }
        }
    }

    .reading {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .reading-book {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}

main.user-not-logged-in {
    padding: 5% 10%;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}