@import '../../../mixins';

main.user-logged-in {
    padding: 5%;
    margin-top: 40px;

    display: flex;
    flex-direction: column-reverse;
    gap: 40px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .user {
            display: flex;
            flex-direction: column;
            gap: 10px;

            position: relative;

            a {
                color: $main;
                position: absolute;
                left: 80px;

                transition: color 0.2s;

                &:hover {
                    color: $main-dark;
                }
            }

            button {
                @include actionButton($main);
                width: 80px;
                position: absolute;
                left: 80px;
            }

            img {
                border-radius: 50%;
                width: 80px;

                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            h2 {
                font-size: 1.15rem;
            }
        }

        .reviews {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .review {
                border-bottom: 1px solid rgba($color: $main, $alpha: 0.25);
                padding: 10px 0;

                display: flex;
                flex-direction: column;
                gap: 10px;

                .title {
                    font-weight: 600;
                }
            }

            .see-more {
                @include seeMoreButton();
            }
        }
    }

    .reading {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .reading-book {
            display: flex;
            align-items: center;
            gap: 15px;

            .book-info {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    .comma:not(:last-child)::after {
                        content: ',';
                    }
                }
            }
        }
    }
}

main.user-not-logged-in {
    padding: 5%;
    margin-top: 40px;

    display: flex;
    justify-content: center;
}

@media (width >= 480px) {
    main.user-logged-in {
        padding: 5% 20%;
        margin-top: 90px;
    
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
    
        .info {
            display: flex;
            flex-direction: column;
            gap: 60px;
    
            .user {
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                position: relative;
    
                a {
                    color: $main;
                    position: absolute;
                    left: 120px;
    
                    transition: color 0.2s;
    
                    &:hover {
                        color: $main-dark;
                    }
                }

                button {
                    left: 120px;
                }
    
                img {
                    border-radius: 50%;
                    width: 120px;
    
                    transition: transform 0.2s;
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                h2 {
                    font-size: 1.5rem;
                }
            }
    
            .reviews {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .review {
                    border-bottom: 1px solid rgba($color: $main, $alpha: 0.25);
                    padding: 10px 0;
    
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    .title {
                        font-weight: 600;
                    }
                }
            }
        }
    
        .reading {
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .reading-book {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }
    
    main.user-not-logged-in {
        padding: 5% 10%;
        margin-top: 90px;
    
        display: flex;
        justify-content: center;
    }
}