@import '../../../mixins';

.card {
    padding: 20px;
    border: 1px solid $main;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba($color: $main, $alpha: 0.2);

    width: 200px;
    height: 250px;

    .user {
        cursor: pointer;
        border-bottom: 1px solid rgba($color: $main, $alpha: 0.2);
        padding-bottom: 10px;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    
        img {
            border-radius: 50%;
            width: 60px;
        }
    
        .info {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
        }
    }

    .actions {
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include actionButton($main);
        }
    }
}