@import '../../../mixins';

main {
    margin-top: 90px;
    padding: 5% 10%;

    display: flex;
    flex-direction: column;
    gap: 60px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 40px;
    
        .book {
            width: 100%;
    
            display: flex;
            justify-content: space-between;
            gap: 40px;
    
            .cover {
                height: 100%;
                aspect-ratio: 2/3;

                display: flex;
                align-content: space-between;
                flex-direction: column;
                gap: 30px;
                
                position: relative;
                perspective: 1000px;
    
                .book-card__book {
                    height: 100%;
        
                    transform-style: preserve-3d;
                    transition: all 250ms ease;
        
                    .book-card__book-front {
                        height: 100%;
                        width: 100%;
        
                        position: absolute;
        
                        .book-card__img {
                            background-color: #e1e1e1;
        
                            height: 100%;
                            width: 100%;
        
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
    
                &:hover {
                    .book-card__book{
                        transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -25px);
                    }
                  
                    .book-card__book-back {
                        box-shadow: 5px 10px 15px rgba($color: #000, $alpha: 0.25);
                    }
                  
                    .book-card__book-side {
                        opacity: 1;
                    }
                }

                .actions {
                    width: 266.66px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
            
                    form {
                        width: 100%;
            
                        display: flex;
                        align-items: flex-end;
                        gap: 20px;
            
                        .select {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
            
                            select {
                                box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                
                                padding: 10px;
                            }
                        }
            
                        button {
                            @include invertColorBtn($main);
                            width: 70px;
                        }
                    }
            
                    button {
                        @include invertColorBtn(#ff4646);
                    }
                }
            }
    
            .book-card__book-back {
                height: 100%;
                width: 100%;
        
                position: absolute;
                top: 0;
        
                transform: translateZ(-40px);
            }
    
            .book-card__book-side {
                background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
                background-color: #e1e1e1;
                background-size: 5px;
                opacity: 0;
        
                width: 60px;
        
                position: absolute;
                top: 7px;
                bottom: 5px;
                right: -42px;
                
                transform: rotate3d(0, 1, 0, 90deg);
            }
    
            .info {
                width: 75%;
        
                display: flex;
                flex-direction: column;
                gap: 40px;
                
                .main-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .authors {
                        display: flex;
                        gap: 5px;

                        .comma:not(:last-child)::after {
                            content: ',';
                        }
                    }
        
                    .rating {
                        display: flex;
                        gap: 10px;
                    }
                }
                
                .sec-info {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
        
                    .description {
                        height: 275px;
                        overflow: auto;
                    }
                }
            }
        }
    }

    .reviews-section {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .reviews {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .toggle-button {
                @include invertColorBtn($main);
                width: 100px;
            }

            .add-review, .review {
                width: 100%;
            }

            .review {
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        }
    }
}

@media (width >= 480px) {    
}