<header>
    <app-menu></app-menu>
</header>
<main>
    <div class="book">
        <div class="cover">
            <div class="book-card__book">
                <div class="book-card__book-front">
                    <img class="book-card__img" [src]="book.volumeInfo?.imageLinks?.thumbnail || '../../../assets/images/sin-imagen.webp'" [alt]="book.volumeInfo?.title + ' cover'">
                </div>
                <div class="book-card__book-back"></div>
                <div class="book-card__book-side"></div>
            </div>
        </div>
        <div class="info">
            <div class="main-info">
                <h2>{{ book.volumeInfo?.title }}</h2>
                <h3 *ngFor="let author of book.volumeInfo?.authors">{{ author }}</h3>
    
                <div class="rating">
                    <app-rating [rating]="book.volumeInfo?.averageRating || 0"></app-rating>
                    <span>( {{ book.volumeInfo?.ratingsCount || 0 }} )</span>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="sec-info">
                <p>Páginas: {{ book.volumeInfo?.pageCount }}</p>
                <p>Publicación: {{ book.volumeInfo?.publishedDate }}</p>
                <p class="description" [innerHTML]="book.volumeInfo?.description"></p>
            </div>
        </div>
    </div>
    <div class="actions">
        <button (click)="read()">Marcar como leído</button>
        <button (click)="reading()">Marcar como leyendo</button>
        <button (click)="wish()">Marcar como quiero leer</button>
    </div>
</main>

