@import '../../../mixins';

.container {
    border-bottom: 1px solid rgba($color: $main, $alpha: 0.25);
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    .user {
        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            border-radius: 50%;
            width: 35px;
        }

        p {
            text-align: left;
        }
    }

    .review {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .text {
            max-height: 100px;
            overflow: auto;
        }
    }

    .delete {
        button {
            @include actionButton(#ff4646);
        }
    }
}

@media (width >= 480px) {
    .container {
        width: 80%;
        flex-direction: row;
    
        .user {
            width: 150px;
            align-items: center;
    
            img {
                width: 50px;
            }

            p {
                text-align: center;
            }
        }
    
        .review {
            width: 100%;

            .text {
                max-height: none;
            }
        }
    }
}