.container {
    margin: auto;
    width: 75%;

    display: flex;
    gap: 40px;

    .user {
        width: 150px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            border-radius: 50%;
            width: 50px;
        }
    }

    .review {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}