<app-header></app-header>
<main>

    <ng-template #loginForm>
        <div class="login">
            <h3>Inicia sesión para ver tus libros</h3>
            <a routerLink="/login">Ir</a>
        </div>
    </ng-template>

    <div class="lists" *ngIf="isUserLoggedIn; else loginForm">
        <section class="books">
            <header class="books-list-header">
                <h2>Leyendo</h2>
                <a routerLink="/reading">Ver todos</a>
            </header>
            <div class="books-list">
                <ng-container *ngIf="readingBooks.length > 0; else messageReading">
                    <app-db-book-card *ngFor="let book of readingBooks" [book]="book"></app-db-book-card>
                </ng-container>
                <ng-template #messageReading>
                    <p>No estás leyendo ningún libro</p>
                </ng-template>
            </div>
        </section>
        <section class="books">
            <header class="books-list-header">
                <h2>Leídos</h2>
                <a routerLink="/read">Ver todos</a>
            </header>
            <div class="books-list">
                <ng-container *ngIf="readBooks.length > 0; else messageRead">
                    <app-db-book-card *ngFor="let book of readBooks" [book]="book"></app-db-book-card>
                </ng-container>
                <ng-template #messageRead>
                    <p>No has leído ningún libros</p>
                </ng-template>
            </div>
        </section>
        <section class="books">
            <header class="books-list-header">
                <h2>Quiero leer</h2>
                <a routerLink="/wish">Ver todos</a>
            </header>
            <div class="books-list">
                <ng-container *ngIf="wishBooks.length > 0; else messageWish">
                    <app-db-book-card *ngFor="let book of wishBooks" [book]="book"></app-db-book-card>
                </ng-container>
                <ng-template #messageWish>
                    <p>No quieres leer ningún libro</p>
                </ng-template>
            </div>
        </section>
    </div>

</main>

