@import '../../../mixins';

main {
    padding: 5%;

    display: flex;
    flex-direction: column;
    gap: 60px;

    .lists {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .books {
            .books-list-header {
                width: 100%;
    
                display: flex;
                justify-content: space-between;
    
                h2 {
                    font-size: 1.15rem;
                    padding-bottom: 20px;
                }
    
                a {
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: #222;
                }
            }
    
            .books-list {
                overflow: auto;
                box-shadow: inset -10px 0 10px -12px rgba($color: #000, $alpha: 0.2), inset 10px 0 10px -12px rgba($color: #000, $alpha: 0.2);
                border-radius: 6px;
    
                padding: 20px;
        
                display: flex;
                gap: 50px;

                &::-webkit-scrollbar {
                    display: none;
                }
            
                &::-webkit-scrollbar:horizontal {
                    display: none;
                }
            }
        }
    }
}

@media (width >= 480px) {
    main {
        padding: 5% 10%;

        .lists {
            .books {
                .books-list-header {
                    h2 {
                        font-size: 1.5rem;
                    }
        
                    a {
                        font-size: 1rem;
        
                        transition: all 0.2s;
        
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
        
                .books-list {       
                    padding: 35px 20px;

                    &::-webkit-scrollbar {
                        display: block;
                        background-color: transparent;
                        width: 8px;
                    }
                
                    &::-webkit-scrollbar:horizontal {
                        display: block;
                        height: 6px;
                    }
                
                    &::-webkit-scrollbar-thumb {
                        background-color: #f0f0f0;
                
                        &:hover {
                            background-color: #e7e7e7;
                        }
                    }
                }
            }
        }
    }
}