<app-header></app-header>
<main>
    <div class="lists" *ngIf="userLoggedIn; else loginForm">
        <section class="books">
            <header class="books-list-header">
                <h2>Leyendo</h2>
                <a [routerLink]="['/mybooks']" [queryParams]="{ option: 'reading' }">Ver todos</a>
            </header>
            <app-carousel [books]="readingBooks" carouselId="readingCarousel"></app-carousel>
        </section>
        <section class="books">
            <header class="books-list-header">
                <h2>Leídos</h2>
                <a [routerLink]="['/mybooks']" [queryParams]="{ option: 'read' }">Ver todos</a>
            </header>
            <app-carousel [books]="readBooks" carouselId="readCarousel"></app-carousel>
        </section>
        <section class="books">
            <header class="books-list-header">
                <h2>Quiero leer</h2>
                <a [routerLink]="['/mybooks']" [queryParams]="{ option: 'wish' }">Ver todos</a>
            </header>
            <app-carousel [books]="wishBooks" carouselId="wishCarousel"></app-carousel>
        </section>
    </div>

    <ng-template #loginForm>
        <app-login-link></app-login-link>
    </ng-template>
</main>

