@import '../../../mixins';

:host {
    width: 100%;
}

.photo-selection {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .photo {
        position: relative;

        &:hover {
            .selected-photo {
                filter: contrast(0.95);
            }

            button {
                background: rgba($color: #000, $alpha: 0.2);
                transform: scale(1.1);

                .plus {
                    color: rgba($color: #000, $alpha: 0.9);
                }
            }
        }

        .selected-photo {
            cursor: pointer;
            border-radius: 50%;
            width: 130px;
    
            transition: all 0.2s;
        }

        button {
            cursor: pointer;
            position: absolute;
            background: rgba($color: #000, $alpha: 0.1);
            border: none;
            border-radius: 50%;

            width: 30px;
            height: 30px;

            right: 0;

            transition: all 0.2s;

            .plus {
                color: rgba($color: #000, $alpha: 0.7);
                transition: color 0.2s;
            }
        }
    }

    .character-selection {
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        .characters {
            overflow: hidden;
            width: 100%;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
            grid-gap: 20px;

            .character {
                display: flex;
                justify-content: center;
                align-items: center;

                animation: characterAppear 0.25s ease-out;

                &:hover {
                    .name {
                        text-shadow: 0 0 6px rgba($color: #000, $alpha: 0.5);
                        background-color: rgba($color: $main, $alpha: 0.6);
                        backdrop-filter: blur(2px);
                        color: #fff;
                        transform: scale(1);
                    }
                }
                
                .photo {
                    border-radius: 50%;

                    width: 115px;
                    height: 115px;

                    position: relative;
                }

                .name {
                    cursor: pointer;
                    font-size: smaller;
                    font-weight: 700;
                    text-align: center;
                    border-radius: 50%;
                    background-color: rgba($color: $main, $alpha: 0);
                    backdrop-filter: blur(0px);
                    color: #ffffff00;
                    
                    width: 115px;
                    height: 115px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    position: absolute;
                    overflow: hidden;

                    transform: scale(0.5);
                    transition: all 0.2s;
                }
            }
        }
    }
}

@keyframes characterAppear {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
   }