<div class="photo-selection">
    <div class="photo" title="Selecciona un personaje">
        <img class="selected-photo" [src]="actualPhoto || '../../../assets/images/profile.webp'" alt="" (click)="openPhotoSelection()" [width]="130" [height]="130" />
        <button><fa-icon class="plus" [icon]="faPlus"></fa-icon></button>
    </div>
    <div class="character-selection" *ngIf="photoSelectionOpen">
        <h4>Selecciona un personaje:</h4>
        <div class="characters">
            <div *ngFor="let photo of profilePhotos" class="character">
                <img class="photo" [src]="photo.url" [class.selected]="selectedPhoto === photo.url" [alt]="'Imagen de ' + photo.name" [width]="115" [height]="115" />
                <div class="name" (click)="selectProfilePhoto(photo.url)">{{ photo.name }}</div>
            </div>
        </div>
    </div>
</div>
