@import './variables';

@mixin underline() {
    &::before {
        margin-left: auto;
    }
    
    &::after, &::before {
        margin: 4px 0;
        content: '';
        width: 0%;
        height: 2px;
        background-color: $main;
        display: block;
        transition: 0.3s;
    }
    
    &:hover::after, &:hover::before {
        width: 100%;
      }
}

@mixin actionButton($bg-color) {
    cursor: pointer;
    background-color: rgba($color: $bg-color, $alpha: 0.5);
    border: none;
    border-radius: 5px;
    
    padding: 5px 10px;
    
    transition: all 0.2s;

    &:hover {
        background-color: rgba($color: $bg-color, $alpha: 0.75);
    }
}

@mixin invertColorBtn($color) {
    cursor: pointer;
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s;

    &:hover {
        background-color: $color;
        color: #fff;
    }
}