@import './variables';

@mixin underline() {
    &::before {
        margin-left: auto;
    }
    
    &::after, &::before {
        margin: 4px 0;
        content: '';
        width: 0%;
        height: 2px;
        background-color: $main;
        display: block;
        transition: 0.3s;
    }
    
    &:hover::after, &:hover::before {
        width: 100%;
      }
}

@mixin deleteButton() {
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    
    padding: 5px 10px;
    
    transition: all 0.2s;

    &:hover {
        background-color: #e7e7e7;
    }
    
    &:last-child {
        background-color: rgba($color: #ff4646, $alpha: 0.5);
        transition: all 0.2s;
        
        &:hover {
            background-color: rgba($color: #ff4646, $alpha: 0.75);
        }
    }
}