<div class="container">
        
    <nav class="left">
        <ul class="links">
            <li>
                <a routerLink="/">Inicio</a>
            </li>
            <li>
                <a routerLink="/mybooks">Mis libros</a>
            </li>
        </ul>
    </nav>

    <div class="logo" routerLink="/">
        <img src="../../../assets/images/logo.svg" alt="Logo">
    </div>

    <nav class="right">
        <ul class="links">
            <li>
                <a routerLink="/search">Buscar</a>
            </li>
            <li>
                <a [routerLink]="['/profile', id]">Perfil</a>
            </li>
        </ul>
        <div class="user" *ngIf="userLoggedIn">
            <img [src]="photo || '../../../assets/images/profile.webp'" alt="">
            <p>Hola, {{ name }}</p>
            <button title="Cerrar sesión" (click)="logout()"><fa-icon [icon]="faLogout"></fa-icon></button>
        </div>
    </nav>

</div>
