@import '../../../mixins';

.row {
    border-bottom: 1px solid rgba($color: $main, $alpha: 0.25);
    padding-bottom: 20px;

    & > * {
        font-size: 14px;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 0px;
        grid-row-gap: 10px;

        .cover { grid-area: 1 / 1 / 4 / 2; }
        .title { grid-area: 1 / 2 / 2 / 3; }
        .author { grid-area: 2 / 2 / 3 / 3; }
        .rate { grid-area: 3 / 2 / 4 / 3; }
        .description { grid-area: 4 / 1 / 5 / 3; }
        .actions { grid-area: 5 / 1 / 6 / 3; }
    
        transition: all 0.2s;

        .author {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;

            .comma:not(:last-child)::after {
                content: ',';
            }
        }

        .rate {
            display: flex;
            align-items: flex-start;
            gap: 5px;
        }

        .description {
            font-size: 12px;
            overflow: auto;

            width: 100%;
            height: 80px;

            &::-webkit-scrollbar {
                display: none;
            }
        
            &::-webkit-scrollbar:horizontal {
                display: none;
            }
        }

        .actions {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 5px;

            .state {
                display: flex;
                gap: 10px;

                a {
                    color: $main;
                }
            }

            button {
                @include actionButton(#ff4646);
            }
        }
    }
}

@media (width >= 480px) {
    .row {
        padding-bottom: 30px;

        & > * {
            font-size: 1rem;
        }

        .items {
            display: flex;
            gap: 40px;
        
            transition: all 0.2s;
    
            .item {
                min-width: 80px;
                max-width: 80px;
            }
    
            .rate {
                align-items: flex-end;
                flex-direction: column;
            }
    
            .description {
                font-size: 1rem;
    
                min-width: 80px;
                width: 100%;
                height: 120px;

                &::-webkit-scrollbar {
                    display: block;
                    background-color: transparent;
                    width: 8px;
                }
            
                &::-webkit-scrollbar:horizontal {
                    display: block;
                    height: 6px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: #f0f0f0;
            
                    &:hover {
                        background-color: #e7e7e7;
                    }
                }
            }
    
            .actions {
                min-width: 90px;

                justify-content: flex-start;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}