<div class="row">
    <div class="items">
        <div class="book-card__cover">
            <div class="book-card__book">
                <div class="book-card__book-front">
                    <img class="book-card__img" [src]="book.cover" [alt]="book.title + ' cover'">
                </div>
                <div class="book-card__book-back"></div>
                <div class="book-card__book-side"></div>
            </div>
        </div>
        <div class="title item">
            <h4>{{ book.title }}</h4>
        </div>
        <div class="author item">
            <p *ngFor="let author of book.authors">{{ author }}</p>
        </div>
        <!-- <div class="categories item">
            <p *ngFor="let category of book.categories">{{ category }}</p>
        </div> -->
        <div class="rate">
            <app-rating [rating]="book.rating || 0"></app-rating>
            <!-- <span>( {{ book.volumeInfo?.ratingsCount || 0 }} )</span> -->
        </div>
        <div class="description">
            <p [innerHTML]="book.description"></p>
        </div>
        <div class="actions">
            <button>Leído</button>
            <button>Leyendo</button>
            <button>Quiero</button>
            <button>Eliminar</button>
        </div>
    </div>
</div>