<div class="row">
    <div class="items">
        <app-sm-cover [book]="book"></app-sm-cover>
        <div class="title item">
            <h4>{{ book.title }}</h4>
        </div>
        <div class="author item">
            <p *ngFor="let author of book.authors">{{ author }}</p>
        </div>
        <div class="rate">
            <app-rating [rating]="rating || 0"></app-rating>
            <span>( {{ count || 0 }} )</span>
        </div>
        <div class="description">
            <p [innerHTML]="book.description"></p>
        </div>
        <div class="actions">
            <div class="state">
                <p>{{ option === 'reading' ? 'Leyendo' : option === 'read' ? 'Leído' : 'Quiero leer' }}</p>
                <a [routerLink]="['/books', book.id]"><fa-icon [icon]="faEdit"></fa-icon></a>
            </div>
            <button (click)="deleteBook()">Eliminar</button>
        </div>
    </div>
</div>