@import '../../../variables';

.row {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;

    .items {
        display: flex;
        gap: 40px;
    
        transition: all 0.2s;

        .item {
            min-width: 80px;
            max-width: 80px;
        }

        .rate {
            min-width: 90px;

            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 5px;
        }

        .description {
            overflow: auto;

            min-width: 90px;
            width: 100%;
            height: 120px;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 8px;
            }
        
            &::-webkit-scrollbar:horizontal {
                height: 8px;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: #f0f0f0;
        
                &:hover {
                    background-color: #e7e7e7;
                }
            }
        }

        .actions {
            min-width: 90px;

            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 20px;

            .state {
                display: flex;
                gap: 10px;

                a {
                    color: $main;
                }
            }

            button {
                cursor: pointer;
                background-color: #f0f0f0;
                border: none;
                border-radius: 5px;
                
                padding: 5px 10px;
                
                transition: all 0.2s;

                &:hover {
                    background-color: #e7e7e7;
                }
                
                &:last-child {
                    background-color: rgba($color: #ff4646, $alpha: 0.5);
                    transition: all 0.2s;
                    
                    &:hover {
                        background-color: rgba($color: #ff4646, $alpha: 0.75);
                    }
                }
            }
        }
    }
}