<div class="row">
    <div class="items">
        <app-sm-cover class="cover" [book]="book"></app-sm-cover>
        <div class="title item">
            <h4>{{ book.title }}</h4>
        </div>
        <div class="author item">
            <p *ngFor="let author of book.authors" [ngClass]="{ 'comma': moreThanOneAuthor }">{{ author }}</p>
        </div>
        <div class="rate">
            <app-rating [rating]="rating || 0"></app-rating>
            <span>( {{ count || 0 }} )</span>
        </div>
        <div class="description">
            <p [innerHTML]="book.description" [class.expanded]="showFullDescription"></p>
            <button *ngIf="!showFullDescription && !isContentFullyVisible()" class="see-more" (click)="toggleDescription()">
              Ver más
            </button>
            <button *ngIf="showFullDescription" class="see-more" (click)="toggleDescription()">
              Ver menos
            </button>
          </div>          
        <div class="actions">
            <div class="state">
                <p>{{ option === 'reading' ? 'Leyendo' : option === 'read' ? 'Leído' : 'Quiero leer' }}</p>
                <!-- <a [routerLink]="['/books', book.id]" title="Editar" ><fa-icon [icon]="faPaintBrush"></fa-icon></a> -->
                <fa-icon class="state-icon" [icon]="option === 'reading' ? faBookOpen : option === 'read' ? faBook : faBookmark"></fa-icon>
            </div>
            <button (click)="deleteBook()">Eliminar</button>
        </div>
    </div>
</div>